In [2]:
import numpy as np
import pandas as pd

In [3]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42
# Then, print the series.


df1= pd.Series([4, 8, 15, 16, 23, 42])
df1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
ser= [i for i in range(1,11)]

df2= pd.Series(ser)
df2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
# Q3. Create a Pandas DataFrame that contains the following data:

di = {'Name':['Alice','Bob','Claire'],
     'Age': [25,30,27],
     'Gender':['Female','Male','Female']}

df3= pd.DataFrame(di)
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# Ans: A Series is one-dimensional, while a DataFrame is two-dimensional, containing multiple columns,
#  each potentially with different data types.

In [13]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?


# ans: loc,iloc,at,iat,dropna,fillna,drop,sort_values,groupby, df[condition]

In [15]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# ans: Mutable => Dataframe (2d), Panel(3d)

In [17]:
#  Q7. Create a DataFrame using multiple Series. Explain with an example.